/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
.btn {
    display: inline-block;
    transition: $dur $ease;
    font-size: 14px;
    letter-spacing: 0.1em;
    padding: 10px 20px;
    text-align: center;
    font-family: $font-main;
    outline: none;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    z-index: 2;
    border: 1px solid transparent;

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $red;
        transform-origin: left;
        transition: $dur $ease;
        z-index: -1;
       
    }
    &:active,
    &:focus {
        outline: none;
    }

    @include mq($tablet-l) {
        font-size: 13px;
    }

    @include mq($phone) {
        padding: 7px 17px;
		font-size: 10px;
    }
}

.btn--primary {
    background-color: $red;
    border: 1px solid transparent;
    color: $white;
    
    &:hover {
        color: $red;
        border: 1px solid $red;

        &::after {
            width: 100%;
            background-color: $white;
        }
    }
}

.btn--primary-white {
    border: 1px solid $white;
    background-color: transparent;
    color: $white;

    &:hover {
       color: $red;
       border-color: transparent;
       
        &::after {
            width: 100%;
            background-color: $white;
        }
    }
}

.btn--ghost {
    border: 1px solid $white;
    background-color: transparent;
    color: $white;

    &:hover {
        border-color: $red;

        &::after {
            width: 100%;
        }
    }
}

.btn--red {
    border: 1px solid transparent;
    background-color: $red;
    color: $white;

    &:hover {
        border-color: $white;
        color: $red;

        &::after {
            width: 100%;
            background-color: $white;
        }
    }
}
