/*--------------------------------------------------------------
## Forms
--------------------------------------------------------------*/
input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid $white;
    width: 100%;
    background-color: transparent;
    color: $white;
    font-size: 16px;
    line-height: 1.18;
    font-family: $font-main;
    letter-spacing: 0.03em;

    &::placeholder {
        color: $white;
    }
}

input[type='file'] {
    display: none;
}

textarea {
    height: 128px;
    border-top: 1px solid $white;
    margin-top: 24px;
}