/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
// Fonts

$font-main: 'Roboto', sans-serif;

// Colors
$white: #fff;
$black: #000;

$dark: #25282a;
$light: #f6f5f5;
$grey: #53575a;
$silver: #c4c4c4;
$red: #a73439;
$charcoal: #0a0909;
$fiord: #53575a;
$zircon: #e5e6e6;
$nero: #282828;

// Transitions
$dur: 350ms;
$ease: ease;

// Breakpoints
$phone: 767;
$tablet: 1024;
$tablet-l: 1199;
$lap-small: 1300;
$lap-large: 1450;

