// /*--------------------------------------------------------------
// ## Animations
// --------------------------------------------------------------*/

@include mq($tablet + 1, min) {
    .is-animate {
        backface-visibility: hidden;
        opacity: 0;
        will-change: transform;
		
		.underline span {
			transition: background-size 1000ms 1400ms $ease;
            background-size: 0% 90%;
		}
    }

    .slide-fade {
        transform: translate3d(0, 0, 0);
        transition: 1000ms ease-in-out;
    }

    .is-visible {
        transform: translate3d(0, 0, 0);
        opacity: 1;
		
		.underline span {
			background-size: 100% 90%;
		}
    }
	
	.parallax-item {
		transition: transform 1000ms ease;
  		will-change: transform;
	}
}