/*--------------------------------------------------------------
## Base Layout
--------------------------------------------------------------*/
* {
	box-sizing: border-box;
}

html, body {
	@include font-smoothing(antialiased);
	height: 100%;
}

html {
	box-sizing: border-box;
}

body {
	animation: transitionIn 850ms;
	overflow-x: hidden;
}

@keyframes transitionIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.site {
	max-width: 100%;
	overflow-x: hidden;
}

.offset-top {
	padding-top: 93px;

	@include mq($phone) {
		padding-top: 0;
    }
}

