/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/

.wrapper {
    width: 100%;
    max-width: 1695px;
    margin: 0 auto;
    padding: 0 15px;

    @include mq($lap-small) {
        max-width: 1200px;
    }

    @include mq($tablet-l) {
        max-width: 1100px;
    }
}

.wrapper--sm {
    max-width: 1215px;

    @include mq($lap-small) {
        max-width: 1100px;
    }

    @include mq($tablet-l) {
       	max-width: 965px;
    }

    @include mq($tablet) {
        // max-width: 623px;
		max-width: 718px;
    }
}