.banner {
    position: relative;
    z-index: 1;
}

.banner__img {
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.6);
    }
}

.banner__img--progress {
    position: relative;
    z-index: 3;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		height: 10px;
		background-color: $red;
		width: 100%;
		transform: scaleX(0);
		transform-origin: left;
        transition: 1ms $ease;
	}
	
	&.active::after {
		transform: scaleX(1);
		transition: 4000ms $ease;
	}
	
	&.progress::after {
		transform: scaleX(1);
		transition: 5600ms $ease;
	}
}

.banner__img--sm {
    height: 460px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.35);
        z-index: 3;
    }

    @include mq($phone) {
        height: 360px;
    }
}

.banner__top {
    position: absolute;
	top: 50%;
	transform: translateY(-50%);
    width: 100%;
    z-index: 1;

    @include mq($phone) {
        transform: translateY(-40%);
    }
}

.banner__bottom-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    a {
        color: $white;
        font-size: 20px;
        line-height: 1.16;
        transition: $dur $ease;

        &:hover {
            color: $red;
        }
    }

    li {
        padding-right: 120px;

        &:last-of-type {
            padding-right: 0;
        }
    }

    @include mq($lap-small) {
        a {
            font-size: 19px;
        }
    }

    @include mq($tablet-l) {
        a {
            font-size: 16px;
        }
    }

    @include mq($tablet) {
        li {
            flex: 0 0 33.3%;
            max-width: 33.3%;
            text-align: center;
            margin-bottom: 10px;
            padding-right: 0;
        }
    }

    @include mq($phone) {
        a {
            font-size: 12px;
        }
    }
}

.banner__content {
    max-width: 800px;
    z-index: 1;
    position: relative;
}

.banner__content-title {
    font-size: 60px;
    font-weight: 700;
    color: $white;
    line-height: 1.16;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;

    span {
        position: relative;
        z-index: 1;
		background-image: linear-gradient(transparent 28%, $red 0);
		background-repeat: no-repeat;
		background-size: 100% 90%;
		background-position: 10px 0;
		padding-right: 23px;
    }

    @include mq($tablet) {
        font-size: 50px;
    }
	
	@include mq($phone) {
        font-size: 37px;
    }
}

.banner__content-text {
    margin-bottom: 40px;
	max-width: 652px;

    p {
        font-size: 20px;
        line-height: 1.15;
        color: $white;
    }

    @include mq($tablet) {
        max-width: 539px;
    }

    @include mq($phone) {
        p {
            font-size: 17px;
        }
    }
}

.banner__content-btns {
    display: flex;

    a {
        margin-right: 20px;
        display: block;

        &:last-of-type {
            margin-right: 0;
        }
    }
}