.certificates {
    padding: 50px 0 60px;

    @include mq($phone) {
        padding: 22px 0;
    }
}

.certificates__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include mq($phone) {
        padding-top: 25px;
    }
}

.certificate-item {
    flex: 0 0 16.6%;
    max-width: 16.6%;
    margin-bottom: 50px;
    position: relative;

    img {
        margin: 0 auto;
    }

    @include mq($tablet) {
        flex: 0 0 50%;
        max-width: 50%;
    }

    @include mq($phone) {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 auto 40px;
    }
}

.certificates-item__text {
    text-align: center;
    margin-top: 22px;

    p {
        font-weight: bold;
    }
}

.sertificates__item-img {
    flex: 0 0 20%;
    max-width: 20%;
    margin-bottom: 9px;

    @include mq($phone) {
        flex: 0 0 100%;
        max-width: 100%;

        img {
            margin: 0 auto 9px;
        }
    }
}

.sertificates__item-content {
    position: relative;
    flex: 0 0 80%;
    max-width: 80%;

    @include mq($phone) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.sertificates__item-content-title {
    font-size: 20px;
    line-height: 1.15;
    color: $fiord;
    font-weight: 700;
    margin-bottom: 20px;

    @include mq($tablet) {
        font-size: 18px;
    }

    @include mq($phone) {
        text-align: center;
    }
}

.sertificates__item-content-btn {
    position: absolute;
    bottom: 0;

    a {
        display: block;
        font-size: 14px;
        line-height: 1.14;
        color: $red;
        font-weight: 700;
        text-transform: uppercase;
        transition: $dur $ease;
        position: relative;
		padding-bottom: 2px;

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: $red;
            transform-origin: left;
            transition: $dur $ease;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }
    }

    @include mq($phone) {
        position: relative;
        text-align: center;
    }
}