.contact-info__container {
	display: flex;
	
	@include mq($phone) {
        flex-direction: column-reverse;
    }
}

.contact-info__box {
	flex: 0 0 40%;
	max-width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: calc(50% - 595px);
	z-index: 1;
	
	@include mq($lap-small) {
       padding-left: calc(50% - 530px);
    }
	
	@include mq($tablet-l) {
        padding-left: calc(50% - 465px);
    }
	
	@include mq($tablet) {
        padding-left: calc(50% - 359px);
    }
	
	@include mq($phone) {
        padding: 20px 0 20px 15px;
		flex: 0 0 100%;
		max-width: 100%;
    }
}

.contact-info__image {
	flex: 0 0 60%;
	max-width: 60%;

	img {
		height: 499px;
	}
	
	@include mq($phone) {
        flex: 0 0 100%;
		max-width: 100%;
    }
}

.contact-info__item {
	max-width: 173px;
	width: 100%;
	margin-bottom: 40px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.contact-info__title {
	font-size: 20px;
	line-height: 1.16;
	font-weight: bold;
	color: $fiord;
	display: block;
	margin-bottom: 10px;

	@include mq($tablet) {
		margin-bottom: 0;
		margin-right: 15px;
    }
	
	@include mq($phone) {
		font-size: 17px;
		margin-right: 5px;
    }
}

.contact-info__title-dots {
	display: none;

	@include mq($tablet) {
		display: initial;
    }
}

.contact-info__subtext {
	display: block;
	color: $fiord;
	font-size: 18px;

	a {
		font-size: 18px;
		line-height: 1.16;
		color: $fiord;
		transition: $dur $ease;

		&:hover {
			color: $red;
		}
	}
}

.contact-info__bottom {
	padding: 100px 0;
	background-color: $zircon;
	
	@include mq($tablet) {
        padding: 50px 0 20px;
    }
}

.contact-info__bottom-container {
	display: flex;
	justify-content: space-between;
	
	@include mq($tablet) {
        justify-content: start;
		flex-wrap: wrap;
    }
	
	@include mq($phone) {
		display: block;
	}
}

.contact-info__bottom-item {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: -67px;
		top: 0;
		width: 1px;
		height: 100%;
		background-color: $black;
	}

	&:first-of-type {
		&::before {
			content: none;
		}
	}

	@include mq($tablet-l) {
		&::before {
			left: -43px;
		}
    }
	
	@include mq($tablet) {
		display: flex;
		align-items: center;
        flex: 100%;
		max-width: 100%;
		margin-bottom: 30px;
		
		&::before {
			content: none;
		}
	}
}


