.contact {
    background-color: $red;
}

.contact__text-box {
    background-color: $white;
    padding: 100px 0 60px;
	
	@include mq($phone) {
		padding: 70px 0 30px;
	}
}

.contact__text-box-wrap {
    max-width: 480px;
    width: 100%;
}

.contact__text-box-title {
    font-size: 34px;
    line-height: 1.18;
    color: $fiord;
    font-weight: 700;
    margin-bottom: 20px;
	
	@include mq($tablet-l) {
        font-size: 30px;
    }
}

.contact__text-box-subtitle {
    font-size: 18px;
    line-height: 1.16;
    color: $fiord;
}

.contact__form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 80px 0;

    @include mq($phone) {
        padding: 0 0 30px;
    }
}

.contact__item {
    flex: 0 0 33.3%;
    max-width: 33.3%;
    padding-right: 20px;
    margin-bottom: 40px;
    position: relative;

    &:nth-child(3n+0) {
        padding-right: 0;
    }

    @include mq($tablet) {
        flex: 0 0 50%;
        max-width: 50%;

        &:nth-child(3n+0) {
            padding-right: 20px;
        }
    }

    @include mq($phone) {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
		margin-bottom: 7px;
        
        &:nth-child(3n+0) {
            padding-right: 0;
        }
    }
}

.custom-file-upload {
    border: none;
    border-bottom: 1px solid $white;
    display: inline-block;
    padding: 5px 0 5px 35px;
    cursor: pointer;
    color: $white;
    width: 100%;
    font-size: 16px;
    line-height: 1.18;
    position: relative;
    letter-spacing: 0.03em;

    &::after {
        content: url('assets/svg/upload.svg');
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
    }
	
	@include mq($phone) {
        margin-top: 25px;
    }
 }

.contact__item-textarea {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;

    @include mq($tablet) {
        padding-right: 20px;
    }

    @include mq($phone) {
        padding-right: 0;
    }
}

.contact__form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    span {
        display: block;
        font-size: 14px;
        line-height: 1.14;
        color: $white;
    }
}

.contact__form-btn {
    margin-top: 40px;
}

.acf-map {
	width: 100%;
	height: 500px;
	
	@include mq($phone) {
        height: 300px;
    }
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border: none;
    color: $black;
}

span.wpcf7-not-valid-tip {
    position: absolute;
}

.wpcf7-form-control-wrap {
    position: static;
}