.entry-content {
    h1 {
        font-size: 60px;
        line-height: 1.16;
        font-weight: 700;
    }

    h2 {
        font-size: 34px;
        line-height: 1.17;
        font-weight: bold;
    }

    h3 {
        font-size: 24px;
        line-height: 1.16;
        font-weight: bold;
    }

    h4 {
        font-size: 20px;
        line-height: 1.15;
        font-weight: bold;
    }

    p {
        font-size: 18px;
        line-height: 1.16;
        color: $fiord;
        margin-bottom: 25px;
    }
	
	ul {
		margin-bottom: 30px;
	}

    li {
        font-size: 18px;
        line-height: 1.55;
        font-weight: 700;
        color: $fiord;
        position: relative;
    }

    @include mq($lap-small) {
        p {
            font-size: 16px;
        }
    }

    @include mq($tablet-l) {
        p {
            font-size: 15px;  
        }

        h2 {
            font-size: 30px;
        }

        h4 {
            font-size: 16px;
        }
    }
}

.entry-content--light {
	color: $white;

    p {
        color: $white;
    }

    li {
        color: $white;
    }
}

.entry-content--center {
	text-align: center;
}