.footer {
    padding: 20px 0;
    background-color: $nero;
    position: relative;

    @include mq($tablet) {
        padding: 33px 0 10px;
    }
}

.footer__container {
    display: flex;
    align-items: center;

    @include mq($tablet) {
        display: block;
    }
}

.footer__logo {
	padding-right: 50px;

    @include mq($tablet) {
		padding-right: 0;

        img {
            margin: 0 auto 20px;
        }
    }

    @include mq($phone) {
        img {
            width: 90px;
        }
    }
}

.footer__info {
	@include mq($tablet) {
        text-align: center;
    }
}

.footer__item-wrap {
    display: flex;
    flex-wrap: wrap;
	margin-bottom: 30px;

    @include mq($tablet) {
        flex-direction: column;
    }

    @include mq($phone) {
        display: block;
        margin-bottom: 0;
    }
}

.footer__item {
	border-right: 1px solid $white;
	padding: 0 10px;

    span {
        font-size: 16px;
        line-height: 1.18;
        color: $white;
        position: relative;
        display: inline-block;
        transition: $dur $ease;
    }

    &:hover {
        a span {
            color: $red;
        }
    }

    &:first-of-type {
		padding-left: 0;

        span {
            font-weight: 700;
        }
    }

    &:last-of-type {
		border-right: none;
		padding-right: 0;
    }

    @include mq($lap-small) {
        span {
            font-size: 14px;
        }
    }

    @include mq($tablet) {
        padding: 10px 0;
		border-right: none;
    }

    @include mq($phone) {
        padding: 0;
    }
}

.footer__bottom {
    color: $white;
    font-size: 13px;
    line-height: 1.14;

    @include mq($tablet) {
        text-align: center;
        margin-top: 55px;
    }

    @include mq($phone) {
        text-align: center;
        margin-top: 20px;
    }
}