.gallery {
	padding: 27px 0;
	
	@include mq($phone) {
		padding: 50px 0;
	}
}

.gallery__container {
	display: flex;
	flex-wrap: wrap;
}

.gallery__item {
	flex: 0 0 20%;
	max-width: 20%;
	padding: 7px;

	@include mq($phone) {
		flex: 0 0 33.3%;
		max-width: 33.3%;
		padding: 4px;
	}
}

.works__item--hidden {
	display: none;
}

.gallery-btn {
	text-align: center;
	margin-top: 60px;
}