.header {
    background-color: $white;
    padding: 10px 0;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    transition: $dur $ease;
	
	&.header-fixed {
		padding-bottom: 0;
	}
}

.header__logo {
	a {
		display: inline-block;
	}
}

.logo-svg {
	height: 106px;
	transition: $dur $ease;
	
	.header-fixed & {
		margin-bottom: -25px;
	}

	.imp-right {
		opacity: 0;
		visibility: hidden;
		transition: $dur $ease;
		transform: translateX(-20px);
		
		.header-fixed & {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}
	}

	.imp-down {
		opacity: 1;
		visibility: visible;
		transition: $dur $ease;
		transform: translateY(0);
		
		.header-fixed & {
			opacity: 0;
			visibility: hidden;
			transform: translateY(-20px);
		}
	}
	
	.line {
		transition: $dur $ease;
		transform: scaleX(1);
		
		.header-fixed & {
			transform: scaleX(0);
		}
	}
	
	@include mq($phone) {
        height: 60px;
		
		.header-fixed & {
			margin-bottom: -13px;
			margin-left: -24px;
		}
    }
}

.header-fixed .header-btn {
	@include mq($phone) {
		a {
			top: 27px;	
		}
	}
}

.header-fixed .phone-icon {
    font-size: 17px;
    bottom: 9px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq($tablet) {
        display: block;
    }
}

.header__nav {
    display: flex;
	align-items: center;
    padding-top: 20px;
	
	@include mq($tablet) {
        display: none;
        padding-top: 100px;
        height: 100vh;
        text-align: center;
    }
    
    @include mq($phone) {
       padding-top: 53px;
	}
}

.header__number {
    margin-left: 20px;
    display: flex;

    a {
		display: flex;
    	align-items: center;
        color: $red;
        font-weight: 700;
        transition: $dur $ease;
        position: relative;
		font-size: 18px;

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: $red;
            transform-origin: left;
            transition: $dur $ease;
        }

        &:hover {
            &::after {
                width: 100%;
                transform-origin: right;
            }
        }
    }

    @include mq($lap-small) {
        margin-left: 15px;
    }

    @include mq($tablet) {
        margin-left: 0;
        justify-content: center;

        a {
            font-size: 30px;
        }
    }

    
    @include mq($phone) {
		margin-top: 18px;
		
        a {
            font-size: 24px;
        }
    }
}

.header__number-icon {
    font-size: 15px;
    margin-right: 5px;
    color: $red;

    @include mq($tablet) {
        font-size: 25px;    
    }
	
	@include mq($phone) {
        font-size: 19px;    
    }
}

.phone-icon {
    color: $red;
    border: 1px solid $red;
    font-size: 19px;
    border-radius: 50%;
    padding: 6px 8px;
    position: absolute;
    right: 57px;
    bottom: 19px;
    display: none;
    visibility: hidden;
    transition: $dur $ease;

    @include mq($phone) {
        display: block;
        visibility: visible;    
    }
}

