.img-block {
    padding: 100px 0 50px;
	
    img {
        position: relative;
    }
	
	@include mq($tablet) {
       padding: 75px 0;
    }

    @include mq($phone) {
       padding: 50px 0 25px;
    }
}

.img-block--sm {
    padding: 0 0 50px;
}

.img-block__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    position: relative;
    max-width: 100%;
    flex-wrap: wrap;
    
    .slick-dots {
        display: flex;
        margin: 0 auto;

        li {
            padding: 0 3px;
        }

         button {
            background-color: $silver;
            width: 10px;
            height: 12px;
            border-radius: 50%;
            outline: none;
            font-size: 0;
            border: 1px solid $silver;
        }

        .slick-active button {
            background-color: $red;
            border: 1px solid $red;
		}
    }
}

.img-block__wrap {
    position: relative;
}

.img-block__image-wrap {
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 5px;

    // &:last-of-type {
    //     padding-right: 0;
    // }

    @include mq($phone) {
        flex: 0 0 50%;
        max-width: 50%;

        padding-right: 0;
    }
}

.img-block__image {
    position: relative;
    cursor: pointer;
    z-index: 2;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.65);
        pointer-events: none;
        transition: $dur $ease;
    }

    img {
        width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
        transition: 1000ms $ease;
		
		&:first-of-type {
			position: relative;
		}
		
		&:first-of-type,
		&.active {
			visibility: visible;
			opacity: 1;
		}
    }

    &:hover {
        &::after { 
           background-color: rgba($black, 0.8);
        }
    }
	
	@include mq($phone) {
        margin: 0 15px 3px;
        position: relative;
    }
}

.img-block__image-text {
    @include center(x y, absolute);
    text-align: center;
    width: 100%;
    transition: 700ms ease;
    z-index: 2;
	
	@include mq($phone) {
		opacity: 1;
        visibility: visible;
	}
}

.img-block__btn {
    text-align: center;
    margin-bottom: 100px;

    @include mq($phone) {
        margin-bottom: 50px;
    }
}

.img-block__text {
    display: block;
    text-align: center;
    padding: 50px 0;
    font-size: 24px;
    line-height: 1.16;
    color: $fiord;
    font-weight: 700;

    @include mq($tablet) {
        padding: 0 0 20px;
    }

    @include mq($phone) {
        font-size: 15px;
        padding: 0 11px 20px;
    }
}
