.img-slider {
    padding: 100px 0 50px;
	
    img {
        position: relative;
    }
	
	@include mq($tablet) {
       padding: 75px 0;
    }

    @include mq($phone) {
       padding: 50px 0 25px;
    }
}

.img-slider--sm {
    padding: 0;
}

.img-slider__container {
    display: flex;
    margin: 5px 0;
    position: relative;
    max-width: 100%;

    @include mq($phone) {
        margin: 4px 0 0;
    }
}

.img-slider__image {
    flex: 0 0 20%;
    max-width: 20%;
    margin-right: 5px;

    img {
        max-width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		transition: 1000ms $ease;
		
		&:first-of-type {
			position: relative;
		}
		
		&:first-of-type,
		&.active {
			visibility: visible;
			opacity: 1;
		}
    }

    &:last-of-type {
        margin-right: 0;
    }
	
	@include mq($phone) {
        flex: 0 0 33.3%;
        max-width: 33.3%;
		padding: 0 2px;
        margin: 0 0 3px;
        
        &:first-of-type {
            display: none;
        }

        &:last-of-type {
            display: none;
        }
    }
}

.img-slider__image-wrap {
	position: relative;	
}


