.img-text__container {
    display: flex;
    align-items: center;

    @include mq($tablet) {
        display: block;
    }
}

.img-text__item-content {
    padding-top: 25px;
    padding-left: 90px;

    @include mq($tablet) {
        padding-left: 0;
    }
	
	@include mq($phone) {
        padding-top: 0;
    }
}

.img-text__item {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;

    @include mq($tablet) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
		
		img {
			width: 100%;
		}
    }
}