.intro {
    padding: 100px 0;

    @include mq($tablet) {
        padding: 72px 0;
    }

    @include mq($phone) {
        padding: 50px 0;
    }
}

.intro__container {
    display: flex;
    align-items: center;

    @include mq($tablet) {
        flex-direction: column;
    }
}

.intro__box {
    background-color: $red;
    padding: 30px;
    flex: 0 0 20%;
    max-width: 20%;

    @include mq($tablet) {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 auto 20px;
    }
}

.intro__box-number {
    display: block;
    font-size: 60px;
    line-height: 1.16;
    color: $white;
    text-align: center;
    font-weight: 700;
}

.intro__box-number-text {
    display: block;
    font-size: 24px;
    line-height: 1.16;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    font-weight: 700;

    @include mq($tablet-l) {
        font-size: 20px;
    }

    @include mq($phone) {
        max-width: 121px;
    }
}

.intro__box-text {
    display: block;
    font-size: 34px;
    line-height: 1.17;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 30px 50px;
    color: $fiord;
    font-weight: 700;

    @include mq($lap-small) {
        font-size: 30px;
        padding: 30px 45px;
    }

    @include mq($tablet-l) {
        font-size: 27px;
        padding: 30px 39px;
    }

    @include mq($tablet) {
        font-size: 20px;
        text-align: center;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
    }
}

.intro__box-content {
    flex: 0 0 50%;
    max-width: 50%;
    color: $fiord;
    padding-top: 64px;

    @include mq($tablet) {
        text-align: center;
        padding-top: 30px;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.intro__box-content-btn {
    margin-top: 40px;

    @include mq($phone) {
        margin-top: 20px;
    }
}

