.main-contact {
    background-color: $fiord;
    padding: 60px 0;
}

.main-contact__wrap {
    display: flex;
    flex-wrap: wrap;
}

.main-contact__item {
    flex: 0 0 33.3%;
    max-width: 33.3%;
    padding-right: 20px;
    margin-bottom: 40px;
    position: relative;

    &:nth-of-type(3) {
        padding-right: 0;
    }
}

.main-contact__item-textarea {
    flex: 0 0 100%;
    max-width: 100%;
}