.primary-menu {
    li {
        display: inline-block;
        padding: 0 17px;
    }

    a {
        font-size: 17px;
        line-height: 1.16;
        color: $grey;
        transition: $dur $ease;
        position: relative;
        padding-bottom: 5px;

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: $red;
            transform-origin: left;
            transition: $dur $ease;
        }

        &:hover {
            color: $red;

            &::after {
                width: 100%;
            }
        }
    }

    @include mq($lap-small) {
        li {
            padding: 0 15px;
        }
    }

    @include mq($tablet-l) {
        li {
            padding: 0 9px;
        }

        a {
            font-size: 16px;
        }
    }

    @include mq($tablet) {
        li {
            display: block;
            padding: 16px 0;
        }

        a {
            font-size: 30px;
        }
    }

    @include mq($phone) {
		li {
			padding: 10px 0;	
		}
		
        a {
            font-size: 24px;
        }
    }
}

.current-menu-item {
	a {
		color: $red;
		
		 &::after {
            width: 100%;
        }
	}	
}