.preloader {
    height: 100%;
    width: 100%;
    background: $white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
	transition: $dur $ease;
	visibility: visible;
	opacity: 1;

    &.loaded {
		opacity: 0;
        visibility: hidden;
    }
}

.preloader__img {
	width: 190px;
	height: 146px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: fade 1400ms linear infinite;
	transform-origin: center;
	opacity: 0.1;
}

@keyframes fade {
	70% { 
		opacity: 1;
		transform: translate(-50%, -50%);
	} 
}
