.reference {
    padding: 100px 0;
    background-color: $white;

    @include mq($tablet) {
        padding: 60px 0;
    }

    @include mq($phone) {
        padding: 50px 0;
    }
}

.reference--sm {
    padding: 0;
}

.reference__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include mq($phone) {
        justify-content: center;
    }
}

.reference__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include mq($tablet) {
        align-items: unset;
    }

    @include mq($phone) {
        justify-content: center;
    }
}

.reference__image {
    flex: 0 0 50%;
    max-width: 50%;

    img {
        width: 100%;
    }
	
	@include mq($tablet) {
       flex: 0 0 60%;
       max-width: 60%;
    }

    @include mq($phone) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
}

.reference__content {
    padding-left: 74px;
    flex: 0 0 50%;
    max-width: 50%;

    @include mq($tablet-l) {
        padding-left: 30px;
    }

    @include mq($tablet) {
        flex: 0 0 40%;
        max-width: 40%;
        padding-left: 22px;
    }

    @include mq($phone) {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        padding-left: 0;
    }
}

.reference__content-item {
    margin-bottom: 40px;

    @include mq($phone) {
        margin-bottom: 25px;
    }
}

.reference__content-box {
    margin-bottom: 48px;
    position: relative;
    padding-left: 30px;
	flex: 0 0 50%;
	max-width: 50%;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background-color: $silver;
    }

    &:last-of-type {
        margin-bottom: 0;
    }


    @include mq($tablet) {
        padding-left: 13px;

        &::before {
            width: 2px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    @include mq($phone) {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 17px;
    }
}

.reference__content-title {
    font-size: 24px;
    line-height: 1.16;
    color: $red;
    margin-bottom: 5px;
    font-weight: 700;

    @include mq($tablet-l) {
        font-size: 20px;
    }

    @include mq($tablet) {
        font-size: 18px;
    }

    @include mq($phone) {
        font-size: 18px;
    }
}

.reference__content-subtext {
    font-size: 20px;
    line-height: 1.15;
    color: $fiord;
    font-weight: 700;

    @include mq($tablet-l) {
        font-size: 16px;
    }

    @include mq($tablet) {
        font-size: 15px;
    }

    @include mq($phone) {
        font-size: 15px;
    }
}

.reference__content-place {
    display: block;
    font-size: 18px;
    line-height: 1.16;
    color: $fiord;

    @include mq($tablet) {
        font-size: 15px;
    }
}

.referenc__content-text-wrap {
    max-width: 548px;

    @include mq($phone) {
       max-width: 100%;
    }
}

.reference__content-btn {
    margin-top: 52px;

    a {
        max-width: 130px;
        width: 100%;
    }

    @include mq($phone) {
        margin-top: 20px;
    }
}

.reference__hidden {
	display: none;
}

.reference__btn {
	text-align: center;	
}