.section-head {
    margin-bottom: 76px;

    @include mq($tablet) {
        margin-bottom: 40px;
    }

    @include mq($phone) {
        margin-bottom: 20px;
    }
}

.section-head__title {
    font-size: 34px;
    line-height: 1.17;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color: $fiord;

    @include mq($tablet-l) {
        font-size: 30px;
    }
}

.section-head__title--left {
    text-align: left;

    @include mq($phone) {
        text-align: center;
    }
}

.section-head__subtitle {
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    max-width: 834px;
    margin: 0 auto;
    color: $grey;

    @include mq($tablet-l) {
       max-width: 702px;
    }

    @include mq($phone) {
        font-size: 15px;
    }
}
