.services {
    padding: 100px 0;

    @include mq($tablet) {
        padding: 60px 0;
    }

    @include mq($phone) {
        padding: 30px 0 45px;
    }
}

.services--sm {
    padding: 0;
}

.services__container {
    display: flex;

    @include mq($phone) {
        display: block;
    }
}

.service-item {
    flex: 0 0 50%;
    max-width: 50%;

    @include mq($phone) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
        text-align: center;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.service-item__wrap {
    display: flex;
    align-items: center;

    @include mq($tablet) {
        flex-direction: column;
    }
}

.service-item__img {
    flex: 0 0 39%;
    max-width: 39%;

    @include mq($tablet) {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 15px;
    }

    @include mq($phone) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }
}

.service-item__content {
    flex: 0 0 59%;
    max-width: 59%;

    @include mq($tablet-l) {
       padding-left: 22px;
    }

    @include mq($tablet) {
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 0;
    }

    @include mq($phone) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.service-item__content-title {
    font-size: 24px;
    line-height: 1.16;
    margin-bottom: 20px;
    color: $red;
    font-weight: 700;

    @include mq($tablet) {
        font-size: 20px;
    }
}

.services-btn {
    text-align: center;
    margin-top: 60px;

    @include mq($phone) {
        margin-top: 0;
    }
}
