.text-block {
    padding: 100px 0;
    background-color: $silver;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
	position: relative;

    @include mq($tablet) {
        padding: 60px 0 55px;
    }

    @include mq($phone) {
        padding: 20px 0;
    }
}

.text-block--lg {
	padding: 180px 0;
	
	@include mq($tablet) {
        padding: 80px 0;
    }

    @include mq($phone) {
        padding: 65px 0;
    }
}

.text-block--xs {
    padding: 100px 0 40px;

    @include mq($tablet) {
        padding: 60px 0 30px;
    }

    @include mq($phone) {
        padding: 20px 0;
    }
}

.text-block--white {
    background-color: $white;
}

.text-block--red {
    background-color: $red;

    @include mq($phone) {
        padding: 50px 0;
    }
}

.text-block__wrap {
    max-width: 49%;

    @include mq($tablet) {
        max-width: 71%;
    }

    @include mq($phone) {
        max-width: 100%;
    }
}

.text-block__img {
	position: absolute;
	top: -36px;
    left: 49%;
    
    @include mq($tablet) {
        max-width: 36%;
        top: -42px;
        left: 68%;
    }
	
	@include mq($phone) {
        display: none;
    }
}

.text-block__wrap--lg {
    max-width: 712px;

    @include mq($phone) {
        max-width: 100%;
    }
}

.text-block__txt-strong {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.16;
    color: $fiord;
    margin-bottom: 20px;
	
	.text-block--red & {
		color: $white;
	}
	
	.text-block--light & {
		color: $white;
	}

    @include mq($tablet-l) {
        font-size: 20px;
    }

    @include mq($phone) {
        font-size: 18px;
    }
}

.text-block__title {
    font-size: 34px;
	font-weight: 700;
    line-height: 1.16;
    color: $fiord;
    margin-bottom: 20px;
	
	.text-block--red & {
		color: $white;
	}
	
	.text-block--light & {
		color: $white;
	}

    @include mq($tablet-l) {
        font-size: 30px;
    }

    @include mq($phone) {
        font-size: 23px;
    }
}

.text-block__txt {
    margin-bottom: 15px;
	
	.text-block--red & {
		p {
			color: $white;
		}
    }
}

.text-block__txt--sm {
    max-width: 478px;

    @include mq($lap-small) {
        max-width: 427px;
    }

    @include mq($tablet) {
        max-width: 339px;
    }
}