.works__container {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    flex: 0 0 33.3%;
    max-width: 33.3%;
    position: relative;
    margin-bottom: 20px;
    padding-right: 20px;

    @include mq($tablet) {
        flex: 0 0 50%;
		max-width: 50%;
    }
	
	@include mq($phone) {
        flex: 0 0 100%;
		max-width: 100%;
		padding-right: 0;
		margin-bottom: 16px;
    }
}

.works__item-img {
    position: relative;
    cursor: pointer;

    img {
        width: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.65);
        transition: $dur $ease;
    }

    &:hover {
        &::after {
            background-color: rgba($black, 0.8);
        }
    }
}

.works__item-content {
    @include center (x y, absolute);
    width: 100%;
    padding-right: 16px;
    pointer-events: none;

    @include mq($tablet-l) {
        max-width: 252px;
    }
	
	@include mq($phone) {
		padding-right: 0;
	}
}

.works__item-year,
.works__item-name {
    line-height: 1.16;
    font-weight: bold;
    color: $white;
    display: block;
    text-align: center;
}

.works__item-year {
    font-size: 18px;
    margin-bottom: 15px;
	
	@include mq($tablet) {
        font-size: 16px;
    }

    @include mq($tablet) {
        margin-bottom: 10px;
        font-size: 16px;
    }
}

.works__item-name {
    font-size: 24px;
    max-width: 346px;
    width: 100%;
    margin: 0 auto;
	
	@include mq($tablet) {
        font-size: 20px;
    }

    @include mq($phone) {
        font-size: 16px;
        margin: 0 auto;
    }
}

.works__btn {
    margin: 40px 0;
    text-align: center;
    
    @include mq($phone) {
        margin: 10px 0;
    }
}

.works__year,
.works__name {
    color: $white;
    line-height: 1.16;
    display: block;
    text-align: center;
    margin: 0 auto;

    @include mq($tablet) {
        font-size: 17px;
    }

    @include mq($phone) {
        font-size: 14px;
    }
}

.works__year {
    margin-bottom: 20px;
    font-size: 16px;

    @include mq($phone) {
        font-size: 15px;
    }
}

.works__name {
    font-size: 22px;
	font-weight: bold;

    @include mq($tablet) {
        padding: 0 3px;
        font-size: 17px;
    }

    @include mq($phone) {
        font-size: 18px;
        max-width: 276px;
    }
}